* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    box-shadow: 0vw .1vw .8vw .15vw rgba(0, 0, 0, 0.1);
}

sup{
    display: none;
}


.dropdown {
    position: relative;
    padding:0 1.5vw 0 0;
    border: .3vw solid transparent;
    cursor: pointer;
}

.dropdown:hover .dropContent {
    display: flex;
}

.dropdown:hover {
    border-bottom: .3vw solid rgb(249, 74, 182);
}

.dropdown:nth-child(2):hover {
    border-bottom: .3vw solid rgb(253, 100, 11);
    transform: translateX();
}

.dropdown:nth-child(3):hover {
    border-bottom: .3vw solid rgb(179, 35, 246)
}

.dropdown:nth-child(4):hover {
    border-bottom: .3vw solid rgb(2, 214, 207)
    
}

.dropContent {
    width: auto;
    position: absolute;
    justify-content: center;
    padding-left: 2vw;
    transform: translateX(-1.9vw);
    gap: .5vw;
    font-weight: 400;
    font-size: .9vw;
    display: none;
    margin-top: 1.8vw;
    box-shadow:  0px .2vw 2vw rgba(0, 0, 0, 0.103);
}

.dropContent h1 {
    font-weight: 700;
    margin-bottom: 0.5vw;
    color: rgb(249, 74, 182);
}

.dropdown:nth-child(2) h1 {
    color: rgb(253, 100, 11)
    
}

.dropdown:nth-child(3) h1 {
    color: rgb(179, 35, 246)
}

.dropdown:nth-child(4) h1 {
    color: rgb(1, 205, 208)
}

.dropContent ul {
    list-style-type: none;
    text-decoration: none;

}

.dropContent li {
    padding: .15vw;
}

.dropContent li:hover {
    font-weight: 700;
}

.footer p:hover{
    font-weight: 700;
}